<div class="container">
  <div class="row">
    <div class="col">
      <div>

        <a [routerLink]="['/actualiza', indice]">
          {{ indice + 1 }}: {{ empleadoDeLista.nombre }} {{ empleadoDeLista.apellido }}
        </a>

      </div>
      <app-caracteristica-empleado-c
        (caracteristicasEmpleados)="agregaCaracteristica($event)"></app-caracteristica-empleado-c>
      <ul style="list-style:none ;">
        <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
      </ul>
    </div>
  </div>
</div>

